<h1 class="text-center my-4">Change Movie</h1>
<section class="row">

  <form class="col-sm-5 mx-auto" action="/{{_id}}" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" class="form-control" value="{{title}}">
    </div>
    <div class="form-group">
      <label for="year">Year</label>
      <input type="number" name="year" id="year" class="form-control" value="{{year}}">
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input type="number" name="rating" id="rating" class="form-control" value="{{rating}}">
    </div>
    <div class="form-group">
      <label for="genre">Genre</label></br>
      <input name="genre" list="genre" value="{{genre}}">
    </div>
    <datalist id="genre">
      <option value="Superheroes">
      <option value="Science Fiction">
      <option value="Fantasy">
      <option value="Documentary">
      <option value="Horror">
      <option value="Action">
      <option value="Drama">
      <option value="Comedy">
    </datalist>
    <button class="btn btn-primary" type="submit">Change Movie</button>
  </form>

</section>